body {
	background-color: #ccc;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 40%;
	margin: 0 auto;
}

.content {
	width: 70%;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: white;
}

input {
	display: block;
}

.create_cv {
	border: 1px solid black;
	padding: 15px;
	margin-top: 10px;
	background: white;
	font-weight: bold; 
}

.create_cv:hover {
	background: black;
	color: white;
}

#id {
	display: none;
}